<h1 style='color:#0146ab; margin-left:30px;'>My Seattle Events - <%= @schedule %></h1>

<p style='margin-left:15px;'>Hi <%= @user.username %>, </p>

<% @categories.each do |category| %>
  <h3 style='margin-left:30px;'><%= category.name %></h3>
  <% category.events.send("#{@plan}").each do |event| %>
    <h4 style='margin-left:15px;'><%= link_to "#{event.title}", "#{event.url}"  %></h4>
    <ul>
      <li><%= event.description %></li>
      <li><%= event.location %></li>
    </ul>
  <% end %>
<% end %>
