<!DOCTYPE html>
<html>
<head>
  <title>C3ProjectsCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:messages] %>
    <h5><%= flash[:messages] %></h5>
  <% end %>

  <% if flash[:errors] %>
    <h5><%= flash[:errors] %></h5>
  <% end %>
<%= yield %>

</body>
</html>
